<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @shoe_v.price %>
</p>

<p>
  <strong>Color:</strong>
  <%= @shoe_v.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @shoe_v.size %>
</p>

<p>
  <strong>Category:</strong>
  <%= @shoe_v.category.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @shoe_v.company.name %>
</p>

<p>
  <strong>Cover:</strong>
  <%= image_tag @shoe_v.cover.url(:thumb) %>
</p>



<%= link_to 'Back', shoes_path %>

<table id = "all_comments" style="width: 600px;">
  <tr>
    <th>User email</th>
    <th>Comment</th>
  </tr>
  <% @comments.each_with_index do |comment, idx| %>
    <tr class=<%= idx.odd? ? "odd" : ""%>>
      <td><%= comment.user.email%></td>
      <td><%= comment.comment%></td>
    </tr>
  <% end %>
</table>
<%= form_for @new_comment, :remote => true do |f| %>
  <h4>Add a new comment</h4>
  <span class="field">
    <%= f.label :comment %>
    <%= f.text_field :comment %>
  </span>
  
 
  <input type = "hidden" name = 'comment[commentable_type]', value=<%= @shoe.class.name%>>
<input type = "hidden" name = 'comment[commentable_id]', value=<%= @shoe.id%>>
  <span style= "margin-left: 10px;"><%= f.submit  %></span>
<% end %>