<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @shoe.price %>
</p>

<p>
  <strong>Color:</strong>
  <%= @shoe.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @shoe.size %>
</p>

<p>
  <strong>Category:</strong>
  <%= @shoe.category_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @shoe.company_id %>
</p>

<p>
  <strong>Cover:</strong>
  <%= image_tag @shoe.cover.url(:thumb) %>
</p>

<p>
  <strong>Count view:</strong>
  <%= @shoe.count_view %>
</p>

<%= link_to 'Back', shoes_path %>

<table id = "all_comments" style="width: 600px;">
  <tr>
    <th>User email</th>
    <th>Comment</th>
  </tr>
  <% @comments.each_with_index do |comment, idx| %>
    <tr class=<%= idx.odd? ? "odd" : ""%>>
      <td><%= comment.user.email%></td>
      <td><%= comment.comment%></td>
    </tr>
  <% end %>
</table>
<%= form_for @new_comment, :remote => true do |f| %>
  <h4>Add a new comment</h4>
  <span class="field">
    <%= f.label :comment %>
    <%= f.text_field :comment %>
  </span>
  
  <span class="field">
    <%= f.label :user_id %>
    <%= select(:comment, :user_id, options_from_collection_for_select(User.all, :id, :email)) %>
  </span>
  <input type = "hidden" name = 'comment[commentable_type]', value=<%= @shoe.class.name%>>
<input type = "hidden" name = 'comment[commentable_id]', value=<%= @shoe.id%>>
  <span style= "margin-left: 10px;"><%= f.submit %></span>
<% end %>