<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Color</th>   
      <th>size</th>               
      <th>Price</th>  
      <th>Cover</th>
      <th>Category</th>  
      <th>Count view</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
          <tr>
          <td><%= @shoe.company.name %></td>
          <td><%= @shoe.color %></td>   
          <td><%= @shoe.size %></td>              
          <td><%= @shoe.price %></td>             
          <td><%= image_tag @shoe.cover.url(:thumb) %></td>
          <td><%= @shoe.category.name %></td>   
          <td><%= @shoe.count_view %></td>                        
        </tr>          
  </tbody>
</table>

<%= link_to 'Back', admin_shoes_path %>
